.header {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}


.top-bar {
  background-color: #5cecc3;
  padding: 0.5rem 0;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__item {
    color: #000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__divider {
    margin: 0 0.5rem;
    color: #000;
  }
}

.nav-bar {
  background-color: #fff;
  padding: 1.25rem 0;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  
  span {
    font-weight: 400;
  }
}

.menu {
  display: flex;
  gap: 2rem;
  margin-right: auto;

  &__item {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;

    &:hover {
      color: #5cecc3;
    }
  }
}

.cta-button {
  background-color: #02393f;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: #035c63;
  }
}
 